---
import "../styles/navigation.css"
import { ClientRouter } from 'astro:transitions';

const text = {
    home: "首页",
    vergil: "维吉尔",
    mirage_edge: "魅影刃",
    yamota: "阎魔刀",
    beowulf: "贝奥武夫",
}
---
    <ClientRouter />

    <div id="sidebar-overlay" class="sidebar-overlay"></div>

    <aside id="sidebar" class="sidebar">
        <div class="sidebar-header">
        <h3>导航</h3>
        <span id="close-sidebar" class="close-btn">&times;</span>
        </div>
        <div class="sidebar-content">
            <ul>
                <li><a href="/">{text.home}</a></li>
                <li><a href="/vergil/">{text.vergil}</a></li>
                <li><a href="/mirage_edge/">{text.mirage_edge}</a></li>
                <li><a href="/yamota/">{text.yamota}</a></li>
                <li><a href="/beowulf/">{text.beowulf}</a></li>
            </ul>
        </div>
    </aside>

    <header class="head-app" style="opacity: 0.6;">
        <div class="head-menu" id="menu-trigger">
            <i class="fa fa-align-justify menu"></i>
        </div>
        <div class="head-right">
            <div class="all-button">
                <div class="right-button">
                    <div class="head-login-button">
                        <div class="header-login-btn">
                            <a href="/login/">
                            <button class="login">登录</button>
                            </a>
                        </div>
                        <div class="header-register-btn">
                            <a href="/register/">
                            <button class="register">注册</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>

    document.addEventListener('astro:page-load', () => {

    const menuTrigger = document.getElementById('menu-trigger');
    const sidebar = document.getElementById('sidebar');
    const overlay = document.getElementById('sidebar-overlay');
    const closeBtn = document.getElementById('close-sidebar');


    function toggleSidebar() {
        if (!sidebar || !overlay) return;
        sidebar.classList.toggle('active');
        overlay.classList.toggle('active');
    }

    function closeSidebar() {
        if (!sidebar || !overlay) return;
        sidebar.classList.remove('active');
        overlay.classList.remove('active');
    }


    if (menuTrigger) {
        menuTrigger.addEventListener('click', toggleSidebar);
    }
    
    if (closeBtn) {
        closeBtn.addEventListener('click', closeSidebar);
    }

    if (overlay) {
        overlay.addEventListener('click', closeSidebar);
    }

})
</script>